<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="HelloBean" class="codebind.HelloBean">
	</bean>

	<bean id="triangle" class="codebind.Triangle" autowire="byType" >
<!-- 		<property name="point"> -->
<!-- 			<list> -->
<!-- 			<ref bean ="Point1"/> -->
<!-- 			<ref bean ="Point2"/> -->
<!-- 			<ref bean ="Point3"/> -->
			
<!-- 			</list> -->
<!-- 		</property> -->
	</bean>

	<bean id="point1" class="codebind.Point">
		<property name="X" value="0" />
		<property name="y" value="0" />
	</bean>

	<bean id="point2" class="codebind.Point">
		<property name="X" value="3" />
		<property name="y" value="3" />
	</bean>

	<bean id="point3" class="codebind.Point">
		<property name="X" value="6" />
		<property name="y" value="9" />
	</bean>


</beans>

